html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  color: #003388;
  text-decoration: none;
}
